.slide {
  &__count {
    top: 10px;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
  }
  &__img {
    width: 100%;
  }

  &__caption {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }
}

.fade {
  animation: fade 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}
