.App {
  text-align: center;
  max-width: 1060px;
  margin: 0 auto;
}

.accordeon__content {
  padding: 16px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
